<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表过滤</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h2>人员列表</h2>
      <input type="text" placeholder="请输入名字" v-model="keyWord" />
      <ul>
        <li v-for="p in filPersons" :key="p.id">
          {{ p.name }}-{{ p.age }}-{{p.sex}}
        </li>
      </ul>
    </div>
  </body>
  <script>
    Vue.config.productionTip = false;

    // 用watch实现
    /* const vm = new Vue({
      el: "#root",
      data: {
        keyWord: "",
        // 收集用户输入
        persons: [
          { id: "001", name: "马冬梅", age: 19, sex: "女" },
          { id: "002", name: "周冬雨", age: 20, sex: "女" },
          { id: "003", name: "周杰伦", age: 21, sex: "男" },
          { id: "004", name: "温兆伦", age: 22, sex: "男" },
        ],
        filPersons: [],
      },
      watch: {
        keyWord: {
          immediate: true,
          handler(val) {
            this.filPersons = this.persons.filter((p) => {
              return p.name.indexOf(val) !== -1;
              // 当输入框中没有输入时keyWord为空字符，而indexOf中空字符返回索引值为0而不为-1
              // 也就是空字符时是都能返回的，所以使用immediate在初始化输入框为空时就调用一下handler，就可以显示初识信息
            });
          },
        },
      },
    }); */

    // 用computed实现
    const vm = new Vue({
      el: "#root",
      data: {
        keyWord: "",
        // 收集用户输入
        persons: [
          { id: "001", name: "马冬梅", age: 19, sex: "女" },
          { id: "002", name: "周冬雨", age: 20, sex: "女" },
          { id: "003", name: "周杰伦", age: 21, sex: "男" },
          { id: "004", name: "温兆伦", age: 22, sex: "男" },
        ],
      },
      computed:{
        filPersons(){
          return this.persons.filter((p) => {
            return p.name.indexOf(this.keyWord) !== -1
          })
        }
      }
    });
  </script>
</html>
